TELEGRAF_TOKEN="" # telegram bot token, https://t.me/@botfather

API_URL="" # cobalt.tools instance api url (that will lead to api)
API_KEY="" # cobalt.tools instance api key
USER_AGENT="" # cobalt.tools instance user agent